/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
/cache
/config
/public/assets
/public/ressourcesProjectClient/*
/app/logs
/app/logs
.windsurfrules

legacy/includes/call.business.fields.php
legacy/includes/class.administration.php
legacy/includes/class.age.php
legacy/includes/class.bloctel.php
legacy/includes/class.bloctelSFTPHandler.php
legacy/includes/class.business.php
legacy/includes/class.callapi.php
legacy/includes/class.campaign.php
legacy/includes/class.campaign.phpold
legacy/includes/class.city.php
legacy/includes/class.code.php
legacy/includes/class.crm_user.php
legacy/includes/class.crmdatabase.php
legacy/includes/class.database.php
legacy/includes/class.distribution_log.php
legacy/includes/class.domain.old.php
legacy/includes/class.domain.php
legacy/includes/class.form.php
legacy/includes/class.hostcheck.old.php
legacy/includes/class.hostcheck.php
legacy/includes/class.invoice.php
legacy/includes/class.invoice_payment.php
legacy/includes/class.lead.php
legacy/includes/class.lead.phpold
legacy/includes/class.lead_api.php
legacy/includes/class.lead_old.php
legacy/includes/class.leadold.php
legacy/includes/class.liste.php
legacy/includes/class.mapping.php
legacy/includes/class.Math.php
legacy/includes/class.media.php
legacy/includes/class.message.php
legacy/includes/class.message.phpold
legacy/includes/class.meta.php
legacy/includes/class.metaold.php
legacy/includes/class.pog_base.php
legacy/includes/class.pog_baseold.php
legacy/includes/class.prematching_cache.php
legacy/includes/class.projet.php
legacy/includes/class.prospect.php
legacy/includes/class.purchase.php
legacy/includes/class.quality_score.php
legacy/includes/class.question.php
legacy/includes/class.redisConnection.php
legacy/includes/class.rol.php
legacy/includes/class.sale.php
legacy/includes/class.sale_transfert.php
legacy/includes/class.sale_transfert_method.php
legacy/includes/class.sms.php
legacy/includes/class.social.php
legacy/includes/class.source.php
legacy/includes/class.suscribe.php
legacy/includes/class.target.php
legacy/includes/class.target_history.php
legacy/includes/class.user.old.php
legacy/includes/class.user.php
legacy/includes/class.user_qbo.php
legacy/includes/class.user_sub.php
legacy/includes/class.usercampaign.php
legacy/includes/class.usercampaign.phpold
legacy/includes/class.validation.php
legacy/includes/class.validation_history.php
legacy/includes/class.visitor_data.php
legacy/includes/class.webservice.php
legacy/includes/class.welcome_sms.php
legacy/includes/class.welcome_sms_old.php
legacy/includes/connexion.php
legacy/includes/leadslab_pacairair.json
legacy/includes/monitoring.txt
legacy/includes/webservice-culturecom.php
legacy/legacy-all-databases.sql
legacy/library/functions.php
legacy/todo/Admin.php
legacy/todo/redis_explore.blade.php
legacy/todo/redis_info.blade.php
composer.lock
*.lock
composer.lock
